html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  padding: 10px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #202020;
}

.main-pic__cont {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-pic__pic .main-pic {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-pic__avatar {
  margin: -50px 0 0;
  -webkit-filter: drop-shadow(0 7px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 7px 20px rgba(0, 0, 0, 0.25));
}

.main-pic__avatar .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.me__cont {
  width: 260px;
  margin: 20px auto 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.me__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}

.me__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #dedede;
  margin-top: 3px;
}

.me__social {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
}

.me__social--fb .fb-pic {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.me__social--tg .tg-pic {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.me__social--insta .insta-pic {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.me__social--fb, .me__social--tg, .me__social--insta {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.me__social--fb:hover, .me__social--tg:hover, .me__social--insta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-me__cont {
  width: 260px;
  padding: 30px 0 35px;
  margin: 0 auto;
  border-bottom: 1px solid #1c1c1c;
}

.about-me__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.buttons__cont {
  padding: 30px 0;
  margin: 0 auto;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.buttons__my-works, .buttons__mail-me {
  width: 120px;
  height: 40px;
  -webkit-box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
          box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttons__my-works:hover, .buttons__mail-me:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.buttons__my-works {
  background: #ed3024;
}

.buttons__mail-me {
  background: #3137c9;
}

.main-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.main-cont__wrapper {
  width: 600px;
  margin: 0 auto;
}

.main-cont__text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #d2d2d2;
}

.main-cont__date {
  margin-top: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

header {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: #0d0d0d;
  -webkit-box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

header a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 12px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-panel__item:hover {
  background: rgba(65, 98, 200, 0.8);
}

#profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  background-color: #3137c9;
}

.nav-panel {
  width: 100%;
}

.nav-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.nav-panel__item-menu {
  padding: 0 12px;
  position: relative;
  cursor: pointer;
}

.nav-panel__item-menu::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  width: 0;
  height: 0;
}

.nav-panel__item-menu--list {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  position: absolute;
  left: 0;
  top: 40px;
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
}

.nav-panel__item-menu--list li {
  background: #3137c9;
}

.nav-panel__item-menu--list li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.visible {
  display: block;
}

.search-bar form {
  width: 100%;
  height: 40px;
  position: relative;
  width: 212px;
  -webkit-box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
}

.search-bar form input {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background: #202020;
  outline: none;
  border: none;
  color: #ffffff;
}

.photo-posts__cont {
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-posts__box {
  position: relative;
}

.photo-posts__pic {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.photo-posts__pic img {
  width: 140px;
  height: 195px;
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.photo-posts__pic img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.photo-posts__title, .photo-posts__date {
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 0 3px #000000, 0 0 6px #ffffff, 0 0 10px #ffffff;
}

.photo-posts__title {
  top: 15px;
  left: 15px;
}

.photo-posts__date {
  bottom: 15px;
  right: 15px;
}

.write-me-smth__cont {
  width: 100%;
  height: 74px;
  background: #121212;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 0 30px;
}

.write-me-smth__cont input[name="write-me"] {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 74px;
  color: #d2d2d2;
}

.write-me-smth__photo-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ebebeb;
  background-image: url("../img/shot.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 20px;
}

.write-me-smth__msg-btn {
  margin-left: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #3137c9;
  background-image: url("../img/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
}

.write-me-smth__msg-btn, .write-me-smth__photo-btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.write-me-smth__msg-btn:hover, .write-me-smth__photo-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.twitter-post__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 25px;
  margin-top: 30px;
  background: #202020;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.article__cont {
  margin-top: 30px;
  background: #202020;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__picture {
  width: 100%;
}

.article__picture img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content-cont {
  padding: 25px;
}

.article__content-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.article__footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.article__content-date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.article__content-mark {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 15px;
  background-color: #c4c4c4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.article__content-category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.article__content-read-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: right;
}

.article__content-read-btn a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-transform: lowercase;
  color: #107eff;
}

.article__cont--video > .article__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 550px;
  height: 280px;
  margin-top: 25px;
  position: relative;
}

.article__cont--video > .article__picture::after {
  content: "";
  background-image: url("../img/video-play-pic.png");
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 8888;
  cursor: pointer;
}

.nav-btns__cont {
  margin: 80px auto;
}

.nav-btns__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-btns__item {
  width: 40px;
  height: 40px;
  background: #0d0d0d;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-btns__item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
}

.nav-btns__item:hover {
  background: rgba(65, 98, 200, 0.8);
}

.nav-btns__item--active {
  background: #104be3;
}

.nav-btns__item + .nav-btns__item {
  margin-left: 10px;
}
